@page
@model DeskBooker.Web.BookedDesksModel

@{
    ViewData["Title"] = "BookedDesks";
}

<h1>BookedDesks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskBooking[0].DeskId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskBooking[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskBooking[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskBooking[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskBooking[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
